@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

:focus{
    outline: none;
}

@keyframes slide-from-right {
    from {
        left: -50%;
        
    }
    to {
        left: 50%;
        transform: translate(-50%, 0);
        
    }
}
@keyframes slide-from-bottom {
    0% {
        top: 120vh;
    }
    50% {
        top: 70vh;
    }
     100% {
        top: 84vh;
    }
}
@keyframes fade-in {
    from { 
        opacity: 70%;
    }
    to {
        opacity: 100%
    }
}

.text2center {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}
#text2title {
    font-size: 2rem;
    transform: translate(0, -15%);
}
#text2list {
    font-size: 1.5rem;
    text-align: left;
    position: absolute;
    transform: translate(0, -15%);
    left: 15%;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    z-index: 1;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
#navbar {
    background: rgb(255, 255, 255);
    background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, rgba(91, 91, 91, 1) 100%);
    font-family: 'Roboto Mono', monospace;
    display: grid;
    color: black;
    padding: 1rem 3rem 1rem 2rem;
    border: 0.3em ridge rgba(90, 90, 90, 0.644);
    grid-template-columns: 1fr repeat(3, 0.3fr);
    align-items: center;
}
#projects {
    height: 90vh;
    
    background: rgb(255, 255, 255);
    background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, rgba(91, 91, 91, 1) 100%);
}
#projects > h1, #projects > h2, #projects > p{
    animation: project-entry 2s;
    padding-top: 1rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#projects > h1 {
    font-size: 2.2rem;
    padding-left: 2rem;
}
#projects > h2 {
    font-size: 1.8rem;
    padding-left: 4rem;
}
#projects > p {
    font-size: 1.2rem;
    padding-left: 10rem;
}

@keyframes project-entry {
    from {
        transform: translate(-20%, 0);
    }
}

.project-entry-animation {
    
}

.underline {
    text-decoration: underline;
}
.light {
    font-weight: 200;
}

body {
    margin: 0;
    animation-name: fade-in;
    animation-duration: 2s;
}

#hellocenter {
    font-size: 2.5rem;
    margin: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    animation-name: slide-from-right;
    animation-duration: 3s;
}
#hellomore {
    font-size: 1.3rem;
    margin: 0;
    position: absolute;
    top: 49%;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    animation-name: slide-from-right;
    animation-duration: 3s;
}
#hello {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 89.5vh;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#firstbar {
    position: absolute;
    display: grid;
    top: 84vh;
    width: 98.75vw;
    height: auto;
    grid-template-columns: repeat(7, 1fr);
    animation-name: slide-from-bottom;
    animation-duration: 2s;
}

#whatiknow {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}
#text2bruh {
    position: absolute;
    transform: translate(2rem, -10%);
}

#navanchor {
    font-weight: 700;
    font-size: 2rem;

}
#navabout, #navcontacts, #navprojects {
    font-size: 1.6rem;
}

#navbar > a, #navbar > div > a {

    color: black;
    
    text-decoration: none;
}
#navbar > a:not(#navanchor) {
    text-align: center;
    animation: select-underline-out 0.1s ease-in-out;
}
@keyframes select-underline-in {
    from {
        border-bottom: 0rem solid black;
    }
    to {
        border-bottom: 0.2rem solid black;
    }
}
@keyframes select-underline-out {
    to {
        border-bottom: 0rem solid black;
    }
    from {
        border-bottom: 0.2rem solid black;
    }
}

#navbar > a:not(#navanchor):hover,
#navbar > a:not(#navanchor):focus {
    animation: select-underline-in 0.1s ease-in-out;
    border-bottom: 0.2rem solid black;
    animation-direction: alternate;
    
}
#emailtext {
    font-size: 1.6rem;
    position: absolute;
    left: 7%;
    margin: 0;
}
#footer {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 20vh;
    background: rgb(34,34,34);
    background: linear-gradient(122deg, rgba(34,34,34,1) 0%, rgb(71, 71, 71) 100%);
}
#links {
    transform: translate(70%, 0);
    
    
}
@keyframes cursor-blink {
    0% {
        border-right: 0.5rem solid white;
    }
    50% {
        border-right: 0.5rem solid black;
    }
    100% {
        border-right: 0.5rem solid white;
    }
}
#typetest {
    
    animation: cursor-blink 1s infinite;
    width: max-content;
    
}
.consoletext {
    font-family: consolas, sans-serif;
    color: white;
    font-weight: 200;
}
#aboutexplaination {
    position: absolute;
    top: 25%;
    left: 10%;
    max-width: 80vw;
    
}
#aboutpython {
    position: absolute;
    top: 40%;
    left: 10%;
    max-width: 80vw;
    
}
.consolecomment {
    color: rgb(0, 160, 35); 
    font-size: 1.5rem;
}
#links > a {
    width: 80px;
    height: 48px;
}
#links > a, #links > a > img {
    animation: fade-hover-out 0.2s;
    padding: 0 1rem 0 1rem;
    width: 3rem;
    height: 3rem;
}
@keyframes fade-hover-in {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
@keyframes fade-hover-out {
    to {
        opacity: 1;
    }
    from {
        opacity: 0.5;
    }
}
#links > a:hover, #links > a > img :hover {
    animation: fade-hover-in 0.2s;
    opacity: 0.5;
}

#aboutconsole {
    min-height: 90vh;
    
    background-color: black;
}

#typetest {
    margin: 0;

    position: absolute;
    top: 20%;
    left: 10%;
}

#contacts {
    min-height: 90vh;
    background: rgb(255,0,116);
    display: flex;
    align-items: center;
    justify-content: center;
background: -moz-linear-gradient(107deg, rgba(255,0,116,1) 0%, rgba(0,0,255,1) 100%);
background: -webkit-linear-gradient(107deg, rgba(255,0,116,1) 0%, rgba(0,0,255,1) 100%);
background: linear-gradient(107deg, rgba(255,0,116,1) 0%, rgba(0,0,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0074",endColorstr="#0000ff",GradientType=1);
}
@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#contacts > h1 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    animation: spin 1s infinite;
}
